
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 1;
}

.main-content {
    flex: 1;
    background-color: #ffffff;
    margin-left: 220px;
    position: relative;
}

@media (max-width: 1300px) {
    .main-content{
        margin-left: 0;
    }
}

