/* Layout.css */
.layout {
    display: flex;
    flex-direction: column; /* Header на верх */
    height: 100vh;
   
}

.content {
    display: flex;
    flex: 1;
}

.main-content {
    flex: 1;
    background-color: #ffffff;
    margin-left: 220px; /* Оставляем место для Sidebar */
    position: relative;
    overflow: hidden;
}

