@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



:root {
    --page-font-family: "Montserrat", serif;
    --main-color: #11131b
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    z-index: 1000;
    font-family: var(--page-font-family);
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.sidebar-logo {
    max-width: 100%;
    height: auto;
}

.sidebar-nav {
    flex: 1;
}

.sidebar-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav-item {
    cursor: pointer;
    margin-bottom: 1em;
    border: none;
    background: none;
}

.sidebar-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background-color: var(--main-color);
    transition: background-color 0.3s ease;
}

.sidebar-item-container:hover {
    background-color: var(--main-color);
}

.sidebar-item-text {
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;
}

.sidebar-item-text .icon {
    font-size: 30px; /* Размер иконки */
    margin-right: 10px;
}

.sidebar-item-toggle {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.sidebar-item-toggle img {
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    filter: brightness(0);
    opacity: 0.6;
    transition: opacity 0.5s;
}

.forward-img {
    opacity: 0;
    transition: opacity 0.3s ease; /* Плавное появление стрелочки */
}
/* Вращаем только активные картинки */
.forward-img.rotated {
    transform: rotate(180deg);
}
.dropdown-list {
    list-style: none;
    padding: 0.5em 1.5em;
    margin: 0;
    background-color: var(--main-color);
    border-left: 2px solid #ccc;
}
.sidebar-item-container:hover {
    background-color: #333; /* Подсветка при ховере */
}
.dropdown-item:hover {
    background-color: #333;
}
.sidebar-item-container:hover .forward-img {
    opacity: 1; /* Показываем стрелочку */
}

.dropdown-item {
    margin-bottom: 0.5em;
}

.dropdown-link {
    display: block; /* Делаем ссылку блочной, чтобы она занимала всю ширину блока */
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    padding: 0.2em 1em;
}



.forward-img {
    scale: 0.7;
    filter: brightness(10);
}

.logos-container img:hover {
    opacity: 0.8;
}

.sidebar-nav-item.active .sidebar-item-container.active {
    background-color: var(--main-color);
}
@media (max-width: 768px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebar-nav-list {
        display: flex;
        flex-direction: column;
    }

    .sidebar-item-container {
        padding: 0.5em;
    }

    .sidebar-item-text {
        font-size: 16px;
    }

    .sidebar-item-toggle {
        display: block;
        font-size: 30px;
    }

    .header-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .header-logo .hamburger {
        font-size: 30px;
        cursor: pointer;
        display: block;
    }
}

/* При увеличении масштаба экрана выше 120% скрываем сайдбар */
@media (min-width: 1024px) and (max-width: 1300px) {
    .sidebar {
        display: block;
    }

    /* Элементы меню должны отображаться при масштабе больше 120% */
    .header-logo .hamburger {
        display: block; /* Оставляем иконку меню видимой */
    }
}

@media (min-width: 1300px) {
    .sidebar {
        transform: translateX(0);
    }
}